body  {
    margin: 0;
}
.body {
    background-color: #FAF8F5;
}

/** HOME **/

.topDivHero {
    background-image: url("images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}

.topDivHeroGhost {
        height: 150vh
    }

.heroH1 {
    font-size: 4rem;
    font-weight: 500;
    padding-left: 15%;
    font-family: "Playfair Display";
    padding-top: 5%;
    z-index: 3;
}

.heroP {
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 200;
    color: black;
}

.btn-outline-secondary {
   font-family: "Playfair Display";
    margin-left: 15%;
}

.carouselDiv {
    height: 110vh;
    width: 100%;
    background-image: url("images/carouselIMG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carouselH1 {
    padding-top: 15%;
    font-size: 3rem;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    font-family: "Playfair Display";
}

.iframe {
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:"90%";
    height:300px
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100);
}

.carouselIMG {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
}

.promoDiv {
    height: 110vh;
    width: "100%";
    background-image: url("images/promoIMG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promoH1 {
    padding-top: 15%;
    font-size: 3rem;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-family: "Poppins";
}

.promoH2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-family: "Playfair Display";
}

.promoP {
    font-family: "Montserrat";
    padding-top: 10%;
    padding-bottom: 20%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.nav-link {
    font-size: 1.4rem;
    font-family: "Poppins";
    font-weight: 600;
}
.nav-link-end {
    margin-right: 30px;
}


.navbar-brand {
    font-weight: 900;
    font-family: "Poppins";
}

/** ABOUT ME **/

.aboutIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 300px;
    margin-bottom: 10%;
}

.quoteH1 {
    font-size: 2rem;
    font-family: "Poppins";
    text-align: center;
    font-weight: 900 ;
}

.quoteTop {
    font-size: 5rem;
    font-family: "Poppins"; 
    text-align: left;
    margin-top: 15%;
    margin-bottom: -20px;
}

.quoteDown {
    font-size: 5rem;
    font-family: "Poppins";
    margin-bottom: 40%; 
    text-align: right
}

p {
    font-family: "Montserrat";
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.75;
    padding-bottom: 3%;
    text-align: left;
}

/** FOOTER **/

.footer {
    width: 100%;
    background-image: url("images/footerIMG.jpg");
    background-size: cover;
}

.footerH3 {
    position: relative;
    z-index: 2;
    font-family: "Montserrat";
    font-weight: 900;
}

.footerP {
    font-size: 1rem;
    font-family: "Montserrat";
    font-weight: 500;
    padding-top: 2%;
}

.footerMFI {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 500
}

.footerMadeBy {
    font-size: 0.75rem;
    text-align: center;
    font-family: "Montserrat";
}

.aMadeBy {
    color: black;
}

.aMadeBy:hover {
    text-decoration: none;
    color: black

}

.aMadeBy:visited {
    color: black
}

@media (min-width: 992px) {
    .nav-size {
        height: 8rem;
    }
    p {
        font-size: 1.7rem;
        margin-right: 3%;
    }

    .aboutH1 {
        font-size: 3rem;
    }

    .aboutIMG {
        height: 400px;
        float: left;
        margin-right: 5%;
        margin-bottom: 2%;
        margin-left: 15%
        
    }
}
@media (min-width: 1270px) { 

    .topDivHero {
        height: 100vh;
    }

    .topDivHeroGhost {
        height: 100vh
    }

        .heroH1 {
            margin-top: 10%;
            font-size: 5rem;
        }
        .aboutIMG {
            height: 600px;
        }

        .carouselIMG {
            height: 70vh;
            width: auto;
        }

        .carouselH1 {
            padding-top: 5%;
        }

        .promoH1 {
            padding-top: 5%;
            font-size: 4rem;
        }

        .promoH2 {
            padding-top: 1%;
            font-size: 3rem;
        }

        .promoP {
            padding-top: 2%;
            padding-bottom: 3%;
        }

        .iframe {
            width: 80vh;
            height: 40vh;
        }

        .footerP {
            font-size: 1.5rem;
        }




        p {
        font-size: 1.8rem;
        margin-right: 3%;
    }
        }

/** ANIMATIONS **/

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}